[submodule ".registry"]
	path = .registry
	url = https://github.com/pachadotdev/pachadotdev.r-universe.dev
	branch = HEAD
[submodule "ecod025ps1"]
	path = ecod025ps1
	url = https://github.com/pachadotdev/ecod025/ecod025ps1
