[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LSTS"]
	path = LSTS
	url = https://github.com/pachadotdev/lsts
[submodule "analogsea"]
	path = analogsea
	url = https://github.com/pachadotdev/analogsea
[submodule "canadamaps"]
	path = canadamaps
	url = https://github.com/pachadotdev/canadamaps
[submodule "capybara"]
	path = capybara
	url = https://github.com/pachadotdev/capybara
[submodule "cepiigeodist"]
	path = cepiigeodist
	url = https://github.com/pachadotdev/cepiigeodist
[submodule "chilemapas"]
	path = chilemapas
	url = https://github.com/pachadotdev/chilemapas
[submodule "cpp11armadillo"]
	path = cpp11armadillo
	url = https://github.com/pachadotdev/cpp11armadillo
[submodule "cpp11eigen"]
	path = cpp11eigen
	url = https://github.com/pachadotdev/cpp11eigen
[submodule "cpp11qpdf"]
	path = cpp11qpdf
	url = https://github.com/pachadotdev/cpp11qpdf
[submodule "cpp11tesseract"]
	path = cpp11tesseract
	url = https://github.com/pachadotdev/cpp11tesseract
[submodule "d3po"]
	path = d3po
	url = https://github.com/pachadotdev/d3po
[submodule "economiccomplexity"]
	path = economiccomplexity
	url = https://github.com/pachadotdev/economiccomplexity
[submodule "gravity"]
	path = gravity
	url = https://github.com/pachadotdev/gravity
[submodule "kendallknight"]
	path = kendallknight
	url = https://github.com/pachadotdev/kendallknight
[submodule "leontief"]
	path = leontief
	url = https://github.com/pachadotdev/leontief
[submodule "pudu"]
	path = pudu
	url = https://github.com/pachadotdev/pudu
[submodule "srr"]
	path = srr
	url = https://github.com/ropenscilabs/srr
	registered = false
[submodule "tintin"]
	path = tintin
	url = https://github.com/pachadotdev/tintin
[submodule "tradepolicy"]
	path = tradepolicy
	url = https://github.com/pachadotdev/tradepolicy
