[submodule ".registry"]
	path = .registry
	url = https://github.com/pachadotdev/pachadotdev.r-universe.dev
	branch = HEAD
[submodule "armadillo4r"]
	path = armadillo4r
	url = https://github.com/pachadotdev/armadillo4r
[submodule "cobbdouglasge"]
	path = cobbdouglasge
	url = https://github.com/pachadotdev/cobbdouglasge
[submodule "cpp4r"]
	path = cpp4r
	url = https://github.com/pachadotdev/cpp4r
[submodule "igraphlayout"]
	path = igraphlayout
	url = https://github.com/pachadotdev/igraphlayout
